body{
  size: 100vh;
}

#caraOrder {
  padding: 50px 0;
  margin-top: 5em;
}

#caraOrder h2 {
  color: limegreen;
  font-weight: 700;
}

#caraOrder p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

#caraOrder ol {
  list-style-type: decimal;
  margin-left: 20px;
}

#caraOrder ol li {
  margin-bottom: 10px;
}

/* Gaya tambahan untuk bagian "Cara Bayar" */
#caraBayar {
  padding: 50px 0;
  margin-top: 5em;
}

#caraBayar h2 {
  color: limegreen;
  font-weight: 700;
}

#caraBayar p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

#caraBayar ol {
  list-style-type: decimal;
  margin-left: 20px;
}

#caraBayar ol li {
  margin-bottom: 10px;
}

/* Desain tambahan untuk membuat bagian "Cara Order" dan "Cara Bayar" lebih menarik */

#caraOrder,
#caraBayar {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 30px;
}

#caraOrder h2,
#caraBayar h2 {
  margin-bottom: 20px;
}

#caraOrder ol,
#caraBayar ol {
  padding-left: 20px;
}

#caraOrder ol li,
#caraBayar ol li {
  margin-bottom: 10px;
  color: #555;
}

#caraOrder p:last-child,
#caraBayar p:last-child {
  margin-bottom: 0;
}