body {
    font-family: "Roboto", sans-serif;
    color: black;
}

.order-btn {
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
    background-color: #2eaf7d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.order-btn:hover {
    background-color: #1d845f;
    text-decoration: none;
    color: #fff;
}

h2 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
}

#tentang {
    width: 200px;
    height: auto;
}

#sejarah {
    width: 200px;
    height: auto;
    margin-bottom: 60px;
}

.Sejarah {
    text-align: right;
}

#our-team h2 {
    margin-bottom: 10px;
}

#our-team {
    background-color: lightgray;
    padding: 50px 0;
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.cards {
    display: flex;
}

.card {
    min-width: 15rem;
    max-width: calc(100% - 40px);
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body{
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.card .card-title {
    margin-top: 10px;
    font-size: 1.2rem;
    margin: 0;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    font-weight: 1000;
    color: black;
    border: none;
    padding: 7px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    background-color: lightgray;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: gray;
}

@media (max-width: 768px) {
    .cards-wrapper {
        overflow-x: auto;
        justify-content: flex-start;
    }
}

@media (min-width: 769px) {
    .controls {
        display: none;
    }
}
