/* Gaya keseluruhan */
body {
    font-family: 'Roboto', sans-serif; /* Font modern */
    color: black; /* Warna teks */
}

/* Gaya tombol "Order Sekarang" */
.order-btn {
    display: block; /* Menjadikan tombol sebagai blok elemen */
    width: fit-content; /* Mengatur lebar tombol sesuai dengan konten */
    margin: 0 auto 20px; /* Memberikan margin atas dan bawah serta auto untuk tengah */
    background-color: #2EAF7D; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 10px 20px; /* Padding tombol */
    text-decoration: none; /* Menghapus dekorasi teks */
    border-radius: 30px; /* Mengubah sudut border */
    transition: background-color 0.3s ease; /* Efek transisi */
}

.order-btn:hover {
    background-color: #1d845f; /* Warna latar belakang saat hover */
    text-decoration: none;
    color: #fff;
}

/* Gaya judul */
h2 {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
}

#our-team h2{
    margin-bottom: 10px;
}

#our-team {
    background-color: lightgray; /* Warna latar belakang baru untuk bagian "Our Team" */
    padding: 50px 0; /* Padding atas dan bawah untuk memberikan ruang */
}


/* Gaya kartu tim */
.card {
    min-width: 15rem; /* Lebar minimum kartu */
    max-width: calc(100% - 40px); /* Lebar maksimum kartu */
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    border-radius: 10px;
    text-align: center; /* Tengahkan teks */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Efek hover */
.card:hover {
    transform: scale(1.05);
}

/* Gaya gambar tim */
.card img {
    border-radius: 10px 10px 0 0; /* Membuat sudut gambar membulat di atas */
    width: 100%;
    height: auto;
}

/* Gaya judul tim */
.card .card-title {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Gaya wrapper untuk slide */
.cards-wrapper {
    display: flex;
}

/* Gaya kontrol navigasi */
.controls {
    text-align: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    font-weight:1000;
    color: black;
    border: none;
    padding: 7px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease; /* Efek transisi */
    background-color: lightgray;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: gray; /* Warna tombol navigasi saat hover */
}

/* Media query untuk layar kecil */
@media (max-width: 768px) {
    .cards-wrapper {
        overflow-x: auto;
    }
}

@media (min-width: 769px) {
    .controls {
        display: none; /* Menyembunyikan tombol slide pada layar lebar */
    }
}
