.main {
  padding-top: 100px;
  padding-bottom: 50px;
}

header{
  padding-top: 5em;
  padding-left: 12px;
}

.jtl-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jtl-col {
margin-bottom: 0; /* Menambahkan margin-bottom: 0; */
}

.jtl-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.jtl-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); /* Bayangan yang lebih tebal saat dihover */
}

.jtl-card .card-body {
  padding: 30px;
  margin-bottom: 0;
}

.jtl-card .form-group {
  margin-bottom: 20px;
}

.jtl-card .form-group label {
  font-weight: 600;
}

.jtl-card .form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.jtl-card .form-control:focus {
  border-color: limegreen;
  box-shadow: none;
}

.jtl-card .text-danger {
  font-size: 0.8rem;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


.jtl-btn {
  background-color: limegreen;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 0;
}

.jtl-btn:hover {
  background-color: #32cd32;
} 

/* Tablet dan Mobile */
@media (max-width: 991.98px) {
  .main {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  header {
    padding-top: 4em;
  }

  .jtl-container {
    padding-top: 10px;
  }

  .jtl-card .card-body {
    padding: 20px;
  }

  .jtl-card .form-group {
    margin-bottom: 15px;
  }

  .rate {
    height: 36px;
    padding: 0 5px;
  }

  .jtl-btn {
    margin-bottom: 15px;
  }
}

/* Mobile */
@media (max-width: 575.98px) {
  .main {
    padding-top: 7em;
    padding-bottom: 20px;
  }

  header {
    padding-top: 4em;
  }

  .jtl-container {
    padding-top: 5px;
  }

  .jtl-card .card-body {
    padding: 15px;
  }

  .jtl-card .form-group {
    margin-bottom: 10px;
  }

  .rate {
    height: 30px;
    padding: 0 3px;
  }
}

/* Tablet dan Mobile */
@media (max-width: 991.98px) {
  .jtl-card {
    margin: 0 auto; /* Pusatkan kartu pada tampilan tablet */
    max-width: 500px; /* Batasi lebar kartu */
  }
}

/* Mobile */
@media (max-width: 575.98px) {
  .jtl-card {
    max-width: 90%; /* Batasi lebar kartu agar sesuai dengan tampilan mobile */
  }
}
