.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: 700;
  border-left: 2px solid limegreen !important;
  padding-left: 10px;
}

.font-header-joki1 {
  font-weight: 700;
  color: #2eaf7d;
}

.rating-total {
  background-color: #2eaf7d;
  padding-top: 13px;
  padding-bottom: 13px;
}

.rating-heading {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-bottom: 3px;
}

.rating-ikon {
  color: #fff;
  font-size: 50px;
}

.font-header-joki2 {
  font-weight: 700;
  color: #000;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  transition: 250ms;
  color: #ffffff !important;
  margin-right: 10px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: limegreen !important;
}

.nav-link.active {
  text-shadow: 0px 0px 10px limegreen;
  background-color: transparent;
}

.carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel .card {
  background-color: rgba(0, 0, 0, 0.5);
}

.line {
  width: 50px;
  height: 2px;
  background-color: limegreen;
}

.navbar-brand {
  letter-spacing: 1px;
}

.title {
  font-weight: 800;
}

.card-body {
  margin-bottom: 150px;
  text-align: left;
}

.card-title {
  font-size: 50px;
  font-weight: 700;
}

.card-text {
  padding-top: 20px;
  font-size: 20px;
}

.card-body-2 {
  margin-bottom: 150px;
  text-align: right;
}

.atas {
  font-style: italic;
}

.order {
  font-weight: 500;
  width: auto;
  border-radius: 10px;
}

.home-card {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  height: 180px;
  background-color: #fff;
}

.home-konten {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.ikon1 {
  font-size: 25px;
}

.footer-text {
  font-size: 16px;
}

.footer-header {
  font-size: 18px;
}

.text-deskripsi {
  font-size: 18px;
}

.text-deskripsi-white {
  color: #fff;
}

.kenapa-harus-container,
.testimoni-container {
  background-color: #ffffff;
}

.tentang-container,
.cara-order-container {
  background-color: #ededed;
}

.cara-order img {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

/* CSS untuk overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* CSS untuk tampilan gambar yang diperbesar */
.preview-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

/* CSS untuk tombol close */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.tentang-image {
  width: 540px;
  height: 380px;
  border-radius: 15px;
  align-items: left;
}

.tentang-text,
.home-text,
.kenapa-harus-text {
  padding-bottom: 30px;
}

body {
  position: relative;
}

body {
  background-color: #eeeeee;
}

footer {
  background-color: #02353c;
  color: #ffffff;
}

footer .title {
  font-weight: 500 !important;
}

footer a {
  text-decoration: none !important;
  color: #ffffff;
}

footer a:hover {
  color: limegreen;
}

footer p {
  font-size: 0.9rem;
}

footer .btn.submit {
  background-color: limegreen;
  color: #ffffff;
}
