body {
  position: relative;
}

body {
  background-color: #eeeeee;
}

.home-konten {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.card-body {
  margin-bottom: 150px;
  text-align: left;
}

.card-title {
  font-size: 50px;
  font-weight: 700;
}

.card-text {
  padding-top: 20px;
  font-size: 20px;
}

.card-body-2 {
  margin-bottom: 150px;
  text-align: right;
}

/* Navbar */

.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: 700;
  border-left: 2px solid limegreen !important;
  padding-left: 10px;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 16px;
  transition: 250ms;
  color: #ffffff !important;
  margin-right: 10px;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: limegreen !important;
}

.nav-link.active {
  text-shadow: 0px 0px 10px limegreen;
  background-color: transparent;
}

.navbar-brand {
  letter-spacing: 1px;
}

.line {
  width: 50px;
  height: 2px;
  background-color: limegreen;
}

.order {
  font-weight: 500;
  width: auto;
  border-radius: 10px;
}

/* Slide Show */

.carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel .card {
  background-color: rgba(0, 0, 0, 0.5);
}

.atas {
  font-style: italic;
}

/* Kenapa Harus  */

.home-card {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  height: 180px;
  background-color: #fff;
}

/* Tentang */

.tentang-image {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  align-items: left;
}

/* Indikator rating */

.rating-total {
  background-color: #2eaf7d;
  padding-top: 13px;
  padding-bottom: 13px;
}

.rating-heading {
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-bottom: 3px;
}

.rating-ikon {
  color: #fff;
  font-size: 50px;
}

.text-deskripsi-white {
  color: #fff;
}

/* Font */

.font-header-joki1 {
  font-weight: 700;
  color: #2eaf7d;
}

.font-header-joki2 {
  font-weight: 700;
  color: #000;
}

.tentang-text,
.home-text,
.kenapa-harus-text {
  padding-bottom: 30px;
}

.text-deskripsi {
  font-size: 18px;
}

.kenapa-harus-container,
.testimoni-container {
  background-color: #ffffff;
}

.tentang-container,
.cara-order-container {
  background-color: #ededed;
}

.cara-order img {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

/* Cara Order */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.preview-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

/* Testimoni */

.testimonial {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  height: 350px;
  margin-bottom: 20px;
}

.testimonial img {
  width: 100px;
  height: 100px;
}

.testimonial-image {
  padding-bottom: 20px;
}

.text-testimoni {
  color: rgb(160, 160, 160);
  margin-top: -15px;
}

/* Footer */

footer {
  background-color: #02353c;
  color: #ffffff;
}

footer .title {
  font-weight: 500 !important;
}

footer a {
  text-decoration: none !important;
  color: #ffffff;
}

footer a:hover {
  color: limegreen;
}

footer p {
  font-size: 0.9rem;
}

footer .btn.submit {
  background-color: limegreen;
  color: #ffffff;
}

.footer-text {
  font-size: 16px;
}

.footer-header {
  font-size: 18px;
}

.title {
  font-weight: 800;
}

.ikon1 {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .carousel img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .card-title {
    font-size: 35px;
    font-weight: 700;
  }

  .card-text {
    padding-top: 5px;
    font-size: 18px;
  }

  .home-card {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    height: 220px;
    background-color: #fff;
  }
}

/* Tablet */
@media (max-width: 769px) {
  /* Slide Show */

  .carousel img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }

  .carousel .card {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .atas {
    font-style: italic;
  }

  .card-title {
    font-size: 30px;
    font-weight: 700;
  }

  .card-text {
    padding-top: 5px;
    font-size: 16px;
  }

  .home-konten {
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .card-body {
    margin-bottom: 55px;
    text-align: left;
  }

  .card-body-2 {
    margin-bottom: 55px;
    text-align: right;
  }

  /* Kenapa Harus */

  .home-card {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    height: 240px;
    background-color: #fff;
  }

  .cara-order img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .font-header-joki1 {
    font-weight: 700;
    color: #2eaf7d;
    font-size: 22px;
  }

  .font-header-joki2 {
    font-weight: 700;
    color: #000;
    font-size: 22px;
  }

  .text-deskripsi {
    font-size: 15px;
  }

  /* Tentang */

  .tentang-image {
    width: 100%;
    height: 60%;
    border-radius: 15px;
    align-items: left;
  }

  /* Testimoni */

  .testimonial {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    height: 420px;
    width: auto;
    margin-bottom: 20px;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }

  .testimonial-image {
    padding-bottom: 20px;
  }

  .text-testimoni {
    color: rgb(160, 160, 160);
    margin-top: -15px;
  }
}

/* handphone */
@media (max-width: 426px) {
  /* Slide Show */

  .carousel img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }

  .carousel .card {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .atas {
    font-style: italic;
  }

  .card-title {
    font-size: 23px;
    font-weight: 700;
  }

  .card-text {
    padding-top: 5px;
    font-size: 15px;
  }

  .home-konten {
    padding: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-body {
    margin-bottom: 55px;
    text-align: left;
  }

  .card-body-2 {
    margin-bottom: 55px;
    text-align: right;
  }

  /* Kenapa Harus */

  .home-card {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1rem;
    height: 240px;
    background-color: #fff;
  }

  .cara-order img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .font-header-joki1 {
    font-weight: 700;
    color: #2eaf7d;
    font-size: 22px;
  }

  .font-header-joki2 {
    font-weight: 700;
    color: #000;
    font-size: 22px;
  }

  .text-deskripsi {
    font-size: 15px;
  }

  /* Tentang */

  .tentang-image {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    align-items: left;
  }

  /* Testimoni */

  .testimonial {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    height: 380px;
    margin-bottom: 20px;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }

  .testimonial-image {
    padding-bottom: 20px;
  }

  .text-testimoni {
    color: rgb(160, 160, 160);
    margin-top: -15px;
  }
}
