.navbar {
  background: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: 700;
  border-left: 2px solid limegreen !important;
  padding-left: 10px;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 0.9rem;
  transition: 250ms;
  color: #ffffff !important;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
  color: limegreen !important;
}

.carousel img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel .card {
  background-color: rgba(0, 0, 0, 0.5);
}

.line {
  width: 50px;
  height: 2px;
  background-color: limegreen;
}

.navbar-brand {
  letter-spacing: 1px;
}

.title {
  font-weight: 800;
}

.card-title {
  font-weight: 700;
}

body {
  position: relative;
}

body {
  background-color: #eeeeee;
}

footer {
  background-color: #02353c;
  color: #ffffff;
}

footer .title {
  font-weight: 500 !important;
}

footer a {
  text-decoration: none !important;
  color: #ffffff;
}

footer a:hover {
  color: limegreen;
}

footer p {
  font-size: 0.9rem;
}

footer .btn.submit {
  background-color: limegreen;
  color: #ffffff;
}
