.wrapper {
    max-width: 80%;
    margin: auto;
}

.wrapper>p,
.wrapper>h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper>h1 {
    letter-spacing: 3px;
}

/* slide 1 start */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
}

.col-md-6 img {
    min-width: 30%;
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.col-md-6 p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

#border {
    padding: 20px;
    margin-left: -30px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(2, 53, 60, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#border2 {
    padding: 20px;
    max-width: 100%;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(2, 53, 60, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#button {
    padding: 10px 0px;

}

/* Media query untuk responsif */
@media (max-width: 768px) {
    .col-md-6 img {
        margin-bottom: 20px;
    }

    #border {
        margin-left: auto;
    }
}

/* grid 1 ends */
/* Slider Start*/
.slider-wrapper {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.cards {
    display: flex;
}


.card {
    min-width: 15rem;
    max-width: calc(100% - 40px);
    margin: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body {
    margin-bottom: 0;
}


.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.card .card-title {
    margin-top: 10px;
    font-size: 1.2rem;
    margin: 0;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    font-weight: 1000;
    color: #c1f6ed;
    border: none;
    padding: 7px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    background-color: #02353c;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .cards-wrapper {
        overflow-x: auto;
        justify-content: flex-start;
    }

    .col-3 {
        flex: 0 0 44%; /* 5/12 * 100% */
        max-width: 44%; /* Batasi lebar maksimal */
    }

    /* Sesuaikan lebar konten */
    .col-9 {
        flex: 0 0 56%; /* 7/12 * 100% */
        max-width: 56%; /* Batasi lebar maksimal */
    }
}
@media (min-width: 780px) {
    .slider-wrapper {
        overflow: hidden;
    }
    
    
}

@media (max-width: 779px) {
    .slider {
        width: 100%; /* Atur kembali lebar ke 100% untuk tampilan seluler */
    }
}


/* Slider Ends */
/* FAQ Stlye Start */
.accordion {
    background-color: white;
    color: #02353c;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: 1px solid rgba(2, 53, 60, 0.4);
    border-radius: 15px;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
}

.active,
.accordion:focus,
.accordion:hover {
    background-color: rgba(193, 245, 237, 0.2);
    outline: none;
    border-color: transparent;
    border-radius: 15px;
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: rgba(193, 245, 237, 0.2);
    overflow: hidden;
    background-color: rgba(193, 245, 237, 0.2);
    display: none;
}

.pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    margin: 10px 0;
}

.faq.active {
    border: none;
}

@media (max-width: 768px) {
    .wrapper>h1 {
        letter-spacing: 3px;
        font-size: 2rem;
    }
}

/* FAQ Stlye ends */